In [1]:
import pandas as pd

In [11]:
csv = pd.read_csv("Arquivos/california_housing_train.csv")

csv_df = pd.DataFrame(csv)

csv_df.info()

csv_df[['longitude','total_rooms']].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
dtypes: float64(9)
memory usage: 1.2 MB

   longitude  total_rooms
0    -114.31       5612.0
1    -114.47       7650.0
2    -114.56        720.0
3    -114.57       1501.0
4    -114.57       1454.0

- Quantas linhas têm?
  - R: 17.000 Linhas

- Quantas colunas têm? Mostre o nome das colunas e o tipo delas.
  - R: 9 Colunas
  
        Coluna: longitude Tipo: float64
        Coluna: latitude Tipo: float64
        Coluna: housing_median_age Tipo: float64
        Coluna: total_rooms Tipo: float64
        Coluna: total_bedrooms Tipo: float64
        Coluna: population Tipo: float64
        Coluna: households Tipo: float64
        Coluna: median_income Tipo: float64
        Coluna: median_house_value Tipo: float64

- Existêm valores nulos? Se sim, em quais colunas?
  - R: Não existe valor nulo

- Pegue uma amostra das 3 primeiras linhas.
  - R:
        
        csv = pd.read_csv('Arquivos/california_housing_train.csv')

        csv_df = pd.DataFrame(csv)

        csv_df.head(5)

- Pegue uma amostra das 8 últimas linhas.
  - R:

        csv = pd.read_csv('Arquivos/california_housing_train.csv')

        csv_df = pd.DataFrame(csv)

        csv_df.tail(8)

- Pegue uma amostra de 10 linhas aleatórias
    - R:

          csv = pd.read_csv('Arquivos/california_housing_train.csv')

          csv_df = pd.DataFrame(csv)

          csv_df.sample(10)