In [1]:
import pandas as pd
import numpy as np

In [2]:
url = 'https://raw.githubusercontent.com/rafaelpuyau/infinity_school/main/ds/datasets/atividade_casa.csv'

In [3]:
df = pd.read_csv(url)

df['Mes'] = pd.to_datetime(df['Data da Venda']).dt.month
df['ano'] = pd.to_datetime(df['Data da Venda']).dt.year

In [4]:
df['Canal'] = df['Canal'].str.lower()
df['Canal'] = df['Canal'].str.replace(' ', '_')
df['Canal'] = df['Canal'].str.replace('í', 'i')
df

,Produto,Cor,Valor,Quantidade,Sexo,Idade,Data da Venda,Canal,Mes,ano
0,Calça,Roxa,66.947509,4,Masculino,39,2022-02-25,loja_virtual,2,2022
1,Camiseta,Amarela,99.692292,1,Masculino,30,2022-01-19,loja_fisica,1,2022
2,Calça,Azul,92.502413,2,Feminino,25,2022-03-11,loja_fisica,3,2022
3,Short,Azul,162.693470,1,Feminino,45,2022-05-01,loja_fisica,5,2022
4,Camiseta,Laranja,148.191049,3,Feminino,29,2022-03-13,loja_fisica,3,2022
...,...,...,...,...,...,...,...,...,...,...
99995,Calça,Laranja,101.158897,4,Masculino,46,2022-01-24,loja_fisica,1,2022
99996,Saia,Preta,100.815311,3,Masculino,28,2022-03-08,loja_fisica,3,2022
99997,Calça,Azul,63.924217,4,Feminino,48,2022-06-08,loja_virtual,6,2022
99998,Calça,Azul,149.062392,3,Feminino,19,2022-01-05,loja_fisica,1,2022
99999,Saia,Verde,114.089710,3,Masculino,25,2022-04-19,loja_virtual,4,2022

1.Quantas Saias Azuis foram vendidas em Fevereiro?
    R: 886 saias vendidas em fevereiro

2.Quantos Shorts foram vendidos pela Loja Virtual?
    R: 24987 shorts vendidos
    
3.Quantas Camisas foram vendidas pela Loja Física?
    R: 24971 camisas vendidas

In [5]:
df_saia_azul_loc = df.loc[(df['Cor'] == 'Azul') 
                          & (df['Produto'] == 'Saia') 
                          & (df['Mes'] == 2)
                          ]

df_saia_azul_loc['Quantidade'].sum()

886

In [6]:
df_short_virtual = df.loc[(df['Canal'] == 'Loja Virtual') 
                          & (df['Produto'] == 'Short')
                          ]

df_short_virtual['Quantidade'].sum()

0

In [7]:
df_camisas_virtual = df.loc[(df['Canal'] == 'Loja Física') 
                            & (df['Produto'] == 'Camisa')
                            ]

df_camisas_virtual['Quantidade'].sum()

0

In [8]:
quadrado = lambda x: np.power(x, 4)

resultado = quadrado(2)
print(resultado)

16

In [9]:
url2 = 'https://raw.githubusercontent.com/davi-lucciola/DatasetsEstudos/main/BankData/bank_data.csv'

df2 = pd.read_csv(url2)

df2

,Unnamed: 0,id,score,estado,genero,idade,patrimonio,saldo,produtos,tem_cartao_credito,ativo,salario,saiu
0,0,1,619,RS,Feminino,42,2,0,1,1,1,10134888.0,1
1,1,2,608,SC,Feminino,41,1,8380786,1,0,1,11254258.0,0
2,2,3,502,RS,Feminino,42,8,1596608,3,1,0,11393157.0,1
3,3,4,699,RS,Feminino,39,1,0,2,0,0,9382663.0,0
4,4,5,850,SC,Feminino,43,2,12551082,1,1,1,790841.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,994,996,838,SC,Masculino,43,9,12310588,2,1,0,14576583.0,0
995,995,997,610,SC,Masculino,29,9,0,3,0,1,8391224.0,0
996,996,998,811,SC,Masculino,44,3,0,2,0,1,7843973.0,0
997,997,999,587,SC,Masculino,62,7,12128627,1,0,1,677692.0,0
998,998,1000,811,PR,Feminino,28,4,16773882,2,1,1,990342.0,0

In [10]:
df_2 = df2.drop(['Unnamed: 0'], axis=1, inplace=True)

df_2

In [12]:
mediana = np.median(df2['saldo'])
df2['saldo'].fillna(mediana)

0             0
1       8380786
2       1596608
3             0
4      12551082
         ...
994    12310588
995           0
996           0
997    12128627
998    16773882
Name: saldo, Length: 999, dtype: int64