In [1]:
import pandas as pd
import numpy as np

In [4]:
csv = pd.read_csv('Arquivos/brazil_population.csv')

csv.columns

Index(['Year', 'Population', 'Yearly % Change', 'Yearly Change',
       'Migrants (net)', 'Median Age', 'Fertility Rate', 'Density (P/KmÂ²)',
       'Urban Pop %', 'Urban Population', 'Country's Share of World Pop',
       'World Population', 'Brazil Global Rank'],
      dtype='object')

In [ ]:
csv[['Year', 'Population']].sort_values(by='Year', ascending=False)

    Year  Population
0   2020   212559417
1   2019   211049527
2   2018   209469323
3   2017   207833823
4   2016   206163053
5   2015   204471769
6   2010   195713635
7   2005   186127103
8   2000   174790340
9   1995   162019896
10  1990   149003223
11  1985   135274080
12  1980   120694009
13  1975   107216205
14  1970    95113265
15  1965    83373530
16  1960    72179226
17  1955    62533919

In [ ]:
csv["Country's Share of World Pop"].value_counts()

Country's Share of World Pop
2.74    2
2.85    2
2.73    1
2.75    1
2.76    1
2.77    1
2.81    1
2.82    1
2.80    1
2.78    1
2.71    1
2.63    1
2.57    1
2.50    1
2.38    1
2.26    1
Name: count, dtype: int64

In [5]:
csv_wine = pd.read_csv('https://raw.githubusercontent.com/rafaelpuyau/infinity_school/main/ds/datasets/wines.csv')

csv_wine[['style', 'price', 'label']].sort_values(by='price', ascending=True)

# 1. se trata de uma tabela de estilos de vinho,origem,preÃ§os e nota de especialista
# 2. White Ã© o estilo de vinho que mais aparece
# 3. Wine Q Ã© o Vinho mais Caro custando 1107
# 4. Wine W(Sweet) Ã© o vinho mais barato custando 50,01
# 5(Bonus). nÃ£o tem colunas com valores NA

          style    price   label
9256      Sweet    50.01  Wine W
4910     Orange    50.01  Wine Z
9304      Sweet    50.02  Wine X
2970      Sweet    50.02  Wine V
368        Rose    50.06  Wine U
...         ...      ...     ...
5918        Red   928.05  Wine C
8063  Sparkling   952.26  Wine Q
7278  Sparkling   958.63  Wine R
1519        Red   974.01  Wine D
1249  Sparkling  1107.89  Wine Q

[10000 rows x 3 columns]

In [ ]:
csv_wine.columns

Index(['date', 'label', 'vintage', 'style', 'country', 'price', 'quantity',
       'rate'],
      dtype='object')

In [6]:
csv_wine['date'] = pd.to_datetime(csv_wine['date'])

csv_wine['quantity'] = pd.to_numeric(csv_wine['quantity'], downcast= 'float')

csv_wine.info()

df = pd.DataFrame(csv_wine['quantity'])

df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      10000 non-null  datetime64[ns]
 1   label     10000 non-null  object
 2   vintage   10000 non-null  int64
 3   style     10000 non-null  object
 4   country   10000 non-null  object
 5   price     10000 non-null  float64
 6   quantity  10000 non-null  float32
 7   rate      10000 non-null  int64
dtypes: datetime64[ns](1), float32(1), float64(1), int64(2), object(3)
memory usage: 586.1+ KB

      quantity
0          9.0
1          3.0
2          2.0
3         11.0
4          6.0
...        ...
9995       6.0
9996       4.0
9997      13.0
9998       9.0
9999      13.0

[10000 rows x 1 columns]