In [6]:
import pandas as pd # type: ignore
import numpy as np # type: ignore

In [7]:
url = 'https://raw.githubusercontent.com/rafaelpuyau/infinity_school/main/ds/datasets/atividade_casa.csv'

In [8]:
df = pd.read_csv(url)

df['Mes'] = pd.to_datetime(df['Data da Venda']).dt.month
df['ano'] = pd.to_datetime(df['Data da Venda']).dt.year

In [9]:
df['Canal'] = df['Canal'].str.lower()
df['Canal'] = df['Canal'].str.replace(' ', '_')
df['Canal'] = df['Canal'].str.replace('í', 'i')
df

,Produto,Cor,Valor,Quantidade,Sexo,Idade,Data da Venda,Canal,Mes,ano
0,Calça,Roxa,66.947509,4,Masculino,39,2022-02-25,loja_virtual,2,2022
1,Camiseta,Amarela,99.692292,1,Masculino,30,2022-01-19,loja_fisica,1,2022
2,Calça,Azul,92.502413,2,Feminino,25,2022-03-11,loja_fisica,3,2022
3,Short,Azul,162.693470,1,Feminino,45,2022-05-01,loja_fisica,5,2022
4,Camiseta,Laranja,148.191049,3,Feminino,29,2022-03-13,loja_fisica,3,2022
...,...,...,...,...,...,...,...,...,...,...
99995,Calça,Laranja,101.158897,4,Masculino,46,2022-01-24,loja_fisica,1,2022
99996,Saia,Preta,100.815311,3,Masculino,28,2022-03-08,loja_fisica,3,2022
99997,Calça,Azul,63.924217,4,Feminino,48,2022-06-08,loja_virtual,6,2022
99998,Calça,Azul,149.062392,3,Feminino,19,2022-01-05,loja_fisica,1,2022
99999,Saia,Verde,114.089710,3,Masculino,25,2022-04-19,loja_virtual,4,2022

1.Quantas Saias Azuis foram vendidas em Fevereiro?
    R: 886 saias vendidas em fevereiro

2.Quantos Shorts foram vendidos pela Loja Virtual?
    R: 24987 shorts vendidos
    
3.Quantas Camisas foram vendidas pela Loja Física?
    R: 24971 camisas vendidas

In [10]:
df_saia_azul_loc = df.loc[(df['Cor'] == 'Azul') 
                          & (df['Produto'] == 'Saia') 
                          & (df['Mes'] == 2)
                          ]

df_saia_azul_loc['Quantidade'].sum()

np.int64(886)

In [11]:
df_short_virtual = df.loc[(df['Canal'] == 'Loja Virtual') 
                          & (df['Produto'] == 'Short')
                          ]

df_short_virtual['Quantidade'].sum()

np.int64(0)

In [12]:
df_camisas_virtual = df.loc[(df['Canal'] == 'Loja Física') 
                            & (df['Produto'] == 'Camisa')
                            ]

df_camisas_virtual['Quantidade'].sum()

np.int64(0)

In [13]:
quadrado = lambda x: np.power(x, 4)

resultado = quadrado(2)
print(resultado)

16

In [14]:
url2 = 'https://raw.githubusercontent.com/davi-lucciola/DatasetsEstudos/main/BankData/bank_data.csv'

df2 = pd.read_csv(url2)

df2['saldo']

0             0
1       8380786
2       1596608
3             0
4      12551082
         ...
994    12310588
995           0
996           0
997    12128627
998    16773882
Name: saldo, Length: 999, dtype: int64

In [15]:
df_2 = df2.drop(['Unnamed: 0'], axis=1, inplace=True)

df_2

In [17]:
mediana = np.median(df2['saldo'])
na = df2['saldo'].isna()

saldo
False    999
Name: count, dtype: int64