In [ ]:
import pandas as pd # type: ignore

In [2]:
csv = pd.read_csv("Arquivos/california_housing_train.csv")

csv_df = pd.DataFrame(csv)

#csv_df.info()

csv_df[['longitude','total_rooms']].head()

   longitude  total_rooms
0    -114.31       5612.0
1    -114.47       7650.0
2    -114.56        720.0
3    -114.57       1501.0
4    -114.57       1454.0

- Quantas linhas têm?
  - R: 17.000 Linhas

- Quantas colunas têm? Mostre o nome das colunas e o tipo delas.
  - R: 9 Colunas
  
        Coluna: longitude Tipo: float64
        Coluna: latitude Tipo: float64
        Coluna: housing_median_age Tipo: float64
        Coluna: total_rooms Tipo: float64
        Coluna: total_bedrooms Tipo: float64
        Coluna: population Tipo: float64
        Coluna: households Tipo: float64
        Coluna: median_income Tipo: float64
        Coluna: median_house_value Tipo: float64

- Existêm valores nulos? Se sim, em quais colunas?
  - R: Não existe valor nulo

- Pegue uma amostra das 3 primeiras linhas.
  - R:
        
        csv = pd.read_csv('Arquivos/california_housing_train.csv')

        csv_df = pd.DataFrame(csv)

        csv_df.head(5)

- Pegue uma amostra das 8 últimas linhas.
  - R:

        csv = pd.read_csv('Arquivos/california_housing_train.csv')

        csv_df = pd.DataFrame(csv)

        csv_df.tail(8)

- Pegue uma amostra de 10 linhas aleatórias
    - R:

          csv = pd.read_csv('Arquivos/california_housing_train.csv')

          csv_df = pd.DataFrame(csv)

          csv_df.sample(10)